fastapi==0.115.0
uvicorn[standard]==0.32.0
supabase==2.10.0
python-dotenv==1.0.1
httpx==0.27.2
pydantic==2.10.3
python-multipart==0.0.12
APScheduler==3.10.4
spacy>=3.7.2
openpyxl
pandas
asyncpraw
scikit-learn
nltk
google-api-python-client>=2.0.0
reportlab

# AI & scraping
transformers>=4.30.0
torch>=2.0.0
ntscraper
numpy
psycopg2-binary
