fastapi>=0.100.0
uvicorn[standard]
pydantic>=2.0.0
supabase
python-dotenv
google-api-python-client
asyncpraw
ntscraper
transformers[torch]
accelerate>=0.26.0
torch
scikit-learn
pandas
numpy
reportlab
python-multipart
httpx
tweepy
keybert
textstat
nrclex
gensim
nltk
youtube-comment-downloader
openpyxl
xlsxwriter
wordcloud
matplotlib
textblob
pillow
psycopg2-binary
